/* CSS Document */
@charset 'utf-8';
/**
*{margin:0;padding:0;}
*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldest,legend,img,input{margin:0;padding:0;border:none;};
body{font-size:16px;}
ul,ol,dl,li{list-style:none;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
u,a{text-decoration:none;}
a{color:#000;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
input{border:0;}
form input{outline:none;}
img{display:block;}
